In [1]:
#Import dependencies
import pandas as pd
import numpy as np

## Extract

In [2]:
#Import csv file
htows=pd.read_csv('SourceFiles/Snow_Emergency_Howe_Tows_2018.csv')

In [3]:
htows_df=pd.DataFrame(htows)
htows_df.head(2)

,X,Y,FID,Service_Da,Address,Tow_Reason,Latitude,Longitude,Ward,Community,Neighborho,Tow_Zone,Day,Snow_Emerg
0,-93.310768,44.985471,1,04/16/2018 02:43pm,"710 RUSSELL AVE N,Minneapolis,MN",Snow Emergency,44.985471,-93.310768,5,Near North,Willard - Hay,1,2,Howe
1,-93.220151,44.971199,2,04/16/2018 02:43pm,"150 26th Ave SE,Minneapolis,MN",Snow Emergency,44.971199,-93.220151,2,University,Prospect Park - East River Road,4,2,Howe

## Transform

In [4]:
#Rename columns
htows_df.rename(columns={'Service_Da': 'service_date', 'Address': 'address', 'Latitude':'latitude','Longitude':'longitude',
                         'Snow_Emerg':'snow_emergency_name', 'Day':'day_id', 'Ward':'ward', 'Neighborho':'neighborhood',
                         'Community':'community', 'Tow_Zone':'tow_district'}, inplace=True)

#Drop unnecessary columns
htows_df=htows_df.drop(columns=['X','Y','Tow_Reason'])

#Get date part from date column and convert to date format
htows_df['service_date']=pd.to_datetime(htows_df['service_date'].astype(str).str[:10])

#Round latitude and longitude 
htows_df['latitude']=round(htows_df['latitude'],3)
htows_df['longitude']=round(htows_df['longitude'],3)

In [5]:
#max(ytags_df.latitude.map(str).apply(len))
htows_df.head(2)

,FID,service_date,address,latitude,longitude,ward,community,neighborhood,tow_district,day_id,snow_emergency_name
0,1,2018-04-16,"710 RUSSELL AVE N,Minneapolis,MN",44.985,-93.311,5,Near North,Willard - Hay,1,2,Howe
1,2,2018-04-16,"150 26th Ave SE,Minneapolis,MN",44.971,-93.220,2,University,Prospect Park - East River Road,4,2,Howe

## Load

In [6]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:Time2fun!@localhost/snow_emergency_db")

In [8]:
#Truncate table before loading
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''TRUNCATE TABLE howe_tows_base''')
session.commit()
session.close()

In [9]:
htows_df.to_sql(name='howe_tows_base',con=engine,if_exists='append',index=False)