In [1]:
#Import dependencies
import pandas as pd
import numpy as np

## Extract

In [2]:
#Import csv file
xtows=pd.read_csv('SourceFiles/Snow_Emergency_Xerxes_Tows_2018.csv')

In [3]:
xtows_df=pd.DataFrame(xtows)
xtows_df.head(2)

,X,Y,FID,Call_Taken,Customer,Location,Latitude,Longitude,Snow_Emerg,Day,Ward,Neighborho,Community,Tow_Dist
0,-93.249046,44.984485,1,02/24/2018 12:20am,Snow Emergency,"299 5th ave se,Minneapolis,MN",44.984485,-93.249046,Xerxes,1,3,Marcy Holmes,University,4
1,-93.262311,44.947508,2,02/23/2018 10:30pm,Snow Emergency,"3025 Chicago Ave S,Minneapolis,MN",44.947508,-93.262311,Xerxes,1,9,Powderhorn Park,Powderhorn,6

## Transform

In [4]:
#Rename columns
xtows_df.rename(columns={'Call_Taken': 'service_date', 'Location': 'address', 'Latitude':'latitude','Longitude':'longitude',
                         'Snow_Emerg':'snow_emergency_name', 'Day':'day_id', 'Ward':'ward', 'Neighborho':'neighborhood',
                         'Community':'community', 'Tow_Dist':'tow_district'}, inplace=True)

#Drop unnecessary columns
xtows_df=xtows_df.drop(columns=['X','Y','Customer'])

#Get date part from date column and convert to date format
xtows_df['service_date']=pd.to_datetime(xtows_df['service_date'].astype(str).str[:10])

#Round latitude and longitude 
xtows_df['latitude']=round(xtows_df['latitude'],3)
xtows_df['longitude']=round(xtows_df['longitude'],3)

In [5]:
#max(ytags_df.latitude.map(str).apply(len))
xtows_df.head(2)

,FID,service_date,address,latitude,longitude,snow_emergency_name,day_id,ward,neighborhood,community,tow_district
0,1,2018-02-24,"299 5th ave se,Minneapolis,MN",44.984,-93.249,Xerxes,1,3,Marcy Holmes,University,4
1,2,2018-02-23,"3025 Chicago Ave S,Minneapolis,MN",44.948,-93.262,Xerxes,1,9,Powderhorn Park,Powderhorn,6

## Load

In [6]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:Time2fun!@localhost/snow_emergency_db")

In [8]:
#Truncate table before loading
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''TRUNCATE TABLE xerxes_tows_base''')
session.commit()
session.close()

In [9]:
xtows_df.to_sql(name='xerxes_tows_base',con=engine,if_exists='append',index=False)