In [1]:
#Import dependencies
import pandas as pd
import numpy as np

## Extract

In [2]:
#Import csv file
ytows=pd.read_csv('SourceFiles/Snow_Emergency_Yardville_Tows_2018.csv')

In [3]:
ytows_df=pd.DataFrame(ytows)
ytows_df.head(2)

,X,Y,FID,Call_Taken,Customer,Location,Latitude,Longitude,Snow_Emerg,Day,Ward,Neighborho,Community,Tow_Dist
0,-93.262490,44.933471,1,02/25/2018 10:51pm,Snow Emergency,"3820 CHICAGO AVE S,Minneapolis,MN",44.933471,-93.262490,Yardville,1,8,Bancroft,Powderhorn,6
1,-93.237405,45.021521,2,02/25/2018 09:58pm,Snow Emergency,"2936 Johnson St NE,Minneapolis,MN",45.021521,-93.237405,Yardville,1,1,Audubon Park,Northeast,2

## Transform

In [4]:
#Rename columns
ytows_df.rename(columns={'Call_Taken': 'service_date', 'Location': 'address', 'Latitude':'latitude','Longitude':'longitude',
                         'Snow_Emerg':'snow_emergency_name', 'Day':'day_id', 'Ward':'ward', 'Neighborho':'neighborhood',
                         'Community':'community', 'Tow_Dist':'tow_district'}, inplace=True)

#Drop unnecessary columns
ytows_df=ytows_df.drop(columns=['X','Y','Customer'])

#Get date part from date column and convert to date format
ytows_df['service_date']=pd.to_datetime(ytows_df['service_date'].astype(str).str[:10])

#Round latitude and longitude 
ytows_df['latitude']=round(ytows_df['latitude'],3)
ytows_df['longitude']=round(ytows_df['longitude'],3)

In [5]:
#max(ytags_df.latitude.map(str).apply(len))
ytows_df.head(2)

,FID,service_date,address,latitude,longitude,snow_emergency_name,day_id,ward,neighborhood,community,tow_district
0,1,2018-02-25,"3820 CHICAGO AVE S,Minneapolis,MN",44.933,-93.262,Yardville,1,8,Bancroft,Powderhorn,6
1,2,2018-02-25,"2936 Johnson St NE,Minneapolis,MN",45.022,-93.237,Yardville,1,1,Audubon Park,Northeast,2

## Load

In [6]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:Time2fun!@localhost/snow_emergency_db")

In [8]:
#Truncate table before loading
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''TRUNCATE TABLE yardville_tows_base''')
session.commit()
session.close()

In [9]:
ytows_df.to_sql(name='yardville_tows_base',con=engine,if_exists='append',index=False)