In [11]:
#Import dependencies
import pandas as pd
import numpy as np

## Extract

In [12]:
#Import csv file
xtags=pd.read_csv('SourceFiles/Snow_Emergency_Xerxes_Tags_2018.csv')

In [13]:
xtags_df=pd.DataFrame(xtags)
xtags.head(2)

,X,Y,FID,Citation_N,Date,Address,Latitude,Longitude,Ordinance,Ordinanc_1,Neighborho,Community,Ward,Snow_Em_Na,Day_ID,Tow_Distri
0,-93.288902,45.043098,3001,271118359139,2018-02-26T00:00:00.000Z,4834 CAMDEN AVE N,45.043098,-93.288902,478.1000(b),Snow emergency parking restrictions - even num...,Lind - Bohanon,Camden,4,Xerxes,2,1
1,-93.288895,45.043255,3002,271118359140,2018-02-26T00:00:00.000Z,4838 CAMDEN AVE N,45.043255,-93.288895,478.1000(b),Snow emergency parking restrictions - even num...,Lind - Bohanon,Camden,4,Xerxes,2,1

## Transform

In [14]:
#Rename columns
xtags_df.rename(columns={'Citation_N': 'citation', 'Date': 'service_date', 'Address': 'address', 'Latitude':'latitude',
                        'Longitude':'longitude', 'Ordinance':'ordinance_id','Ordinanc_1':'ordinance_desc',
                        'Neighborho':'neighborhood','Community':'community','Ward':'ward','Snow_Em_Na':'snow_emergency_name',
                        'Day_ID':'day_id','Tow_Distri':'tow_district'}, inplace=True)
#Drop unnecessary columns
xtags_df=xtags_df.drop(columns=['X','Y'])
#Get date part from date column
xtags_df['service_date']=pd.to_datetime(xtags_df['service_date'].astype(str).str[:10])
xtags_df['latitude']=round(xtags_df['latitude'],3)
xtags_df['longitude']=round(xtags_df['longitude'],3)

In [15]:
xtags_df.head(2)

,FID,citation,service_date,address,latitude,longitude,ordinance_id,ordinance_desc,neighborhood,community,ward,snow_emergency_name,day_id,tow_district
0,3001,271118359139,2018-02-26,4834 CAMDEN AVE N,45.043,-93.289,478.1000(b),Snow emergency parking restrictions - even num...,Lind - Bohanon,Camden,4,Xerxes,2,1
1,3002,271118359140,2018-02-26,4838 CAMDEN AVE N,45.043,-93.289,478.1000(b),Snow emergency parking restrictions - even num...,Lind - Bohanon,Camden,4,Xerxes,2,1

## Load

In [16]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [17]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:Time2fun!@localhost/snow_emergency_db")

In [18]:
#Truncate table before loading
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''TRUNCATE TABLE xerxes_tags_base''')
session.commit()
session.close()

In [19]:
xtags_df.to_sql(name='xerxes_tags_base',con=engine,if_exists='append',index=False)