In [1]:
#Import dependencies
import pandas as pd
import numpy as np

## Extract

In [2]:
#Import csv file
ytags=pd.read_csv('SourceFiles/Snow_Emergency_Yardville_Tags_2018.csv')

In [3]:
ytags_df=pd.DataFrame(ytags)
ytags_df.head(2)

,X,Y,FID,Citation_N,Date,Address,Latitude,Longitude,Ordinance,Ordinanc_1,Neighborho,Community,Ward,Snow_Em_Na,Day_ID,Tow_Distri
0,-93.299408,45.012913,3001,271118356793,2018-02-25T00:00:00.000Z,3123 IRVING AVE N,45.012913,-93.299408,478.1000(c),Snow emergency parking restrictions - odd numb...,Jordan,Near North,5,Yardville,3,1
1,-93.238403,45.024918,3002,271118338661,2018-02-25T00:00:00.000Z,3123 LINCOLN ST NE,45.024918,-93.238403,478.1000(c),Snow emergency parking restrictions - odd numb...,Waite Park,Northeast,1,Yardville,3,2

## Transform

In [4]:
#Rename columns
ytags_df.rename(columns={'Citation_N': 'citation', 'Date': 'service_date', 'Address': 'address', 'Latitude':'latitude',
                        'Longitude':'longitude', 'Ordinance':'ordinance_id','Ordinanc_1':'ordinance_desc',
                        'Neighborho':'neighborhood','Community':'community','Ward':'ward','Snow_Em_Na':'snow_emergency_name',
                        'Day_ID':'day_id','Tow_Distri':'tow_district'}, inplace=True)

#Drop unnecessary columns
ytags_df=ytags_df.drop(columns=['X','Y'])

#Get date part from date column and convert to date format
ytags_df['service_date']=pd.to_datetime(ytags_df['service_date'].astype(str).str[:10])

#Round latitude and longitude 
ytags_df['latitude']=round(ytags_df['latitude'],3)
ytags_df['longitude']=round(ytags_df['longitude'],3)

In [5]:
#max(ytags_df.latitude.map(str).apply(len))
ytags_df.head(2)

,FID,citation,service_date,address,latitude,longitude,ordinance_id,ordinance_desc,neighborhood,community,ward,snow_emergency_name,day_id,tow_district
0,3001,271118356793,2018-02-25,3123 IRVING AVE N,45.013,-93.299,478.1000(c),Snow emergency parking restrictions - odd numb...,Jordan,Near North,5,Yardville,3,1
1,3002,271118338661,2018-02-25,3123 LINCOLN ST NE,45.025,-93.238,478.1000(c),Snow emergency parking restrictions - odd numb...,Waite Park,Northeast,1,Yardville,3,2

## Load

In [6]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [7]:
# Create Engine and Pass in MySQL Connection
engine = create_engine("mysql://root:Time2fun!@localhost/snow_emergency_db")

In [8]:
#Truncate table before loading
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
session.execute('''TRUNCATE TABLE yardville_tags_base''')
session.commit()
session.close()

In [9]:
ytags_df.to_sql(name='yardville_tags_base',con=engine,if_exists='append',index=False)